node_modules/*
**/node_modules/*
**/env/*
**/env3/*
**/build/*
**/dist/*
docs/*


.git
.ipynb_checkpoints
notebooks
unused
Dockerfile
.DS_Store
.gitignore

# To prevent storing dev/temporary container data
*.csv
tmp
