*/*/env
*/*/env3
*/*/build
*/*/dist
coverage
dev-docs
docs
examples
modules
*/*/node_modules
scripts
showcases
test
website-gatsby
website

.git
.ipynb_checkpoints
__pycache__
examples
unused
Dockerfile
.DS_Store
.gitignore

*.csv
tmp
test
showcases
scripts
*.png
dev-docs
coverage
